/* Main 主區塊 */
main {
    flex: 1;
    padding: 20px;
    /* light mode */
    background-color: #f4f4f4;
}

main .intro p {
    font-size: 18px;
}

main .features ul {
    list-style-type: none;
    padding: 0;
}

main .features ul li {
    margin: 5px 0;
    padding: 5px;
}

/* embed YT video  */
.video-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.video-container iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
  max-width: 800px;
  border: none;
}

/* ========= 🔁 響應式調整（手機） ========= */
@media (max-width: 610px) {
    main {
        padding: 15px;
    }
}